html {
    --primaryColor: #121212;
    --primaryContainerColor: #222222;
    --secondaryColor: #1e64d4;
    --secondaryContainerColor: #c2e7ff;
    --tertiaryColor: #386a20;
    --tertiaryContainerColor: #b7f397;
    --backgroundColor: #ffffff;
    --surfaceColor: #222222;
    --errorColor: #b00020;
    --errorContainerColor: #f9dedc;
    --onPrimaryColor: #ffffff;
    --onPrimaryContainerColor: #131f0d;
    --onSecondaryColor: #ffffff;
    --onSecondaryContainerColor: #002021;
    --onTertiaryColor: #ffffff;
    --onTertiaryContainerColor: #042100;
    --onBackgroundColor: #000000;
    --onSurfaceColor: #ffffff;
    --onErrorColor: #ffffff;
    --onErrorContainerColor: #410e0b;
}
@media (prefers-color-scheme: dark) {
    html {
        --primaryColor: #222222;
        --primaryContainerColor: #121212;
        --secondaryColor: #c2e7ff;
        --secondaryContainerColor: #004f51;
        --tertiaryColor: #b7f397;
        --tertiaryContainerColor: #386a20;
        --backgroundColor: #1a1c18;
        --surfaceColor: #1a1c18;
        --errorColor: #b00020;
        --errorContainerColor: #f9dedc;
        --onPrimaryColor: #131f0d;
        --onPrimaryContainerColor: #222222;
        --onSecondaryColor: #1e64d4;
        --onSecondaryContainerColor: #c2e7ff;
        --onTertiaryColor: #042100;
        --onTertiaryContainerColor: #b7f397;
        --onBackgroundColor: #ffffff;
        --onSurfaceColor: #ffffff;
        --onErrorColor: #ffffff;
        --onErrorContainerColor: #410e0b;
    }
}
